_Note: working in my anaconda3_reqs env_

Notebook is based on original final project script: prepare_household_energy_data.R to read in raw csv and output cleaned data "daily_energy_all_hholds.csv"

# Setup

import pandas as pd
import numpy as np

In [2]:
import pandas as pd
# import numpy as np

# Clean data

In [14]:
# read in raw csv
raw_data = pd.read_csv("raw_data/london_energy.csv")

In [5]:
raw_data

             LCLid        Date     KWH
0        MAC000002  2012-10-12   7.098
1        MAC000002  2012-10-13  11.087
2        MAC000002  2012-10-14  13.223
3        MAC000002  2012-10-15  10.257
4        MAC000002  2012-10-16   9.769
...            ...         ...     ...
3510428  MAC005567  2014-02-24   4.107
3510429  MAC005567  2014-02-25   5.762
3510430  MAC005567  2014-02-26   5.066
3510431  MAC005567  2014-02-27   3.217
3510432  MAC005567  2014-02-28   0.366

[3510433 rows x 3 columns]

In [7]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3510433 entries, 0 to 3510432
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   LCLid   object
 1   Date    object
 2   KWH     float64
dtypes: float64(1), object(2)
memory usage: 80.3+ MB

* Next step in plan is to *clean column names (all to lowercase, snake case)* -- this is tidyverse, skip for now
* Need to use datetime data for next step, here it is encoded as "object", which means it is string or mixed number/string. Needs to be datetime64 for pandas

In [12]:
raw_data['Date'].astype("datetime64")

In [13]:
raw_data.info()

<class 'pandas.core.series.Series'>
RangeIndex: 3510433 entries, 0 to 3510432
Series name: Date
Non-Null Count    Dtype
--------------    -----
3510433 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 26.8 MB

In [6]:
# add columns for month, season, weekday type, quarter, season (so can filter for Summer and Winter 2013)

# trim data for dates: 2011-12-01 to 2014-02-27

# write to new csv